extends ../layout/index

block contenido
    h2.text-center.text-2xl.font-extrabold= tituloPagina

    if mensajes 
        div(class="max-w-md mx-auto my-10")
            each mensaje in mensajes
                p.text-indigo-600.text.xs.uppercase.text-center.p-2.mb-1.font-bold= mensaje.msg

    .mt-8.mx-auto.max-w-md
        .bg-white.py-5.px-4.shadow
            form.space-y-3
                div
                    label.block.text-sm.text-gray-600.mb-2.font-bold(for="nombre") Tu Nombre de usuario 
                    input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-xl.placeholder-gray-400(placeholder='ingresa tu nombre de usuario' type='text' name='nombre')
                div
                    label.block.text-sm.text-gray-600.mb-2.font-bold(for="nombre") Tu Contraseña
                    input#password.w-full.px-3.py-2.border.border-gray-300.rounded-xl.placeholder-gray-400(placeholder='ingresa tu contraseña' type='password' name='password')

                div.flex.items-center.justify-between
                    a.text-gray-500.text-xs(href="/auth/registro") ¿No tienes Cuenta? Crear Cuenta.
                    a.text-gray-500.text-xs(href="/auth/olvide-password") Olvidé mi password

                input(class='w-full bg-indigo-600 py-2 hover:bg-indigo-800 rounded-xl text-white font-bold' type='submit' value='Iniciar Sesión')
