header.bg-indigo-600.p-4
    .container.mx-auto.flex.justify-between
        h1.text-2xl.text-white.font-extrabold.text-center Bienes
            span.font-normal Raices

        nav(class='my-5 font-bold text-sm text-white md:flex sm:gap-3 md:text-center')
            a(href='') Mis Propiedades
            a(href='') Mi Perfil
            a(href='') Cerrar Sesión